
/* nav {
  transition: all 0.5s;
} */
/* nav a {
  color: white !important;
} */
/* nav .navbar-brand {
  font-size: 2rem;
  font-weight: 700;
} */

/* nav .nav-link {
  position: relative;
  overflow: hidden;
  background-color: transparent;
} */

/* nav ul li a {
  font-weight: 700 !important;
} */
/* nav .nav-link:hover {
  background-color: var(--data-main-color);
} */


.nav{
  transition: all 1s;
}
.navBrandStyle{
    font-size: 2rem !important;
  font-weight: 700 !important;
}
.navLinkStyle{
    position: relative;
  overflow: hidden;
  background-color: transparent;
  font-weight: 700 !important;

}
.navLinkStyle:hover{
  background-color: var(--data-main-color);
}